html{
	scroll-behavior: smooth;
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
    background-color: #eaf0f2;
}
*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 60px;
	/* background-image: url('./x.jpg'); */
	background: linear-gradient(to right, #3edbf0, #77acf1);
	color: #fff;
	/* padding: 10px 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
header h1{
	font-size: 30px;
	letter-spacing: 1px;
	font-weight: 900;
}
header span{
	font-size: 28px;
	color: #72b5d6;
}
header .image {
	width: 239px;
    height: 42px;

}
header .image img{
	width: 100%;
	height: 100%;
}
/* Navigation */
nav ul {
	list-style: none;
	margin: 0 8px 0 0;
	padding: 10px;
	display: flex;
}

nav li {
	margin: 0 10px;
	font-size: 1.2rem;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	color: #ccc;
}


/* Cinemas */
#cinemas {
	padding: 50px;
	background-color: #f2f2f2;
}

#cinemas h2 {
	font-size: 36px;
	text-align: center;
    padding: 20px 0 0 0 ;
}

#cinemas ul {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

#cinemas li {
	margin: 0 20px 20px 0;
	width: calc(33.33% - 20px);
}

#cinemas a {
	display: block;
	color: #333;
	text-decoration: none;
	transition: .4s;
}
#cinemas a:hover{
	transform: scale(1.05);
}
#cinemas img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

#cinemas h3 {
	font-size: 24px;
	margin: 10px 0;
}

#cinemas p {
	font-size: 18px;
	margin: 5px 0;
}

/* Footer */
footer {
	background: linear-gradient(to right, #3edbf0, #77acf1);
	color: #fff;
	padding: 10px 20px;
	text-align: center;
}
